flask==3.0.3
flask_sqlalchemy==3.1.1
werkzeug==3.0.4
flask-limiter==3.8.0
flask-jwt-extended==4.6.0
flask-migrate==4.0.5
flask-cors==4.0.0

SQLAlchemy==2.0.36

moviepy==1.0.3
gTTS==2.5.1
Pillow==10.4.0
opencv-python-headless==4.10.0.84
pydub==0.25.1

razorpay==1.4.2
paypalrestsdk==1.13.1

twilio==8.0.0
firebase-admin==6.6.0

redis==5.0.1
rq==1.15.1

requests==2.32.3
python-dotenv==1.0.1
gunicorn==23.0.0
setuptools==65.5.0
loguru==0.7.2
